<!DOCTYPE html>
<html>
<head>
  <title>Reset Password</title>
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='newpassword.css')}}">
</head>
{% with messages = get_flashed_messages() %}
  {% if messages %}
        {% for message in messages %}
      <center><b>{{ message }}</b></center>
    {% endfor %}
  {% endif %}
{% endwith %}
<body>
  <div class="container">
    <h2>Reset Password</h2>
    <form method="POST">
      <div class="input-group">
        <label for="new-password">New Password:</label>
        <input type="password" id="new-password" name="npassword" required>
      </div>
      <div class="input-group">
        <label for="confirm-password">Confirm Password:</label>
        <input type="password" id="confirm-password" name="cpassword" required>
      </div>
      <div class="reset-options">
        <input type="reset" value="Reset">
        <input type="submit" value="Submit">
      </div>
    </form>
  </div>
</body>
</html>


